In [ ]:
%reload_ext sql
%matplotlib inline
import configparser
import os

In [ ]:
import os
import configparser

mycfg = configparser.ConfigParser()
mycfg.read("/home/jovyan/CSCI3287/home/mysql.cfg")
print(f"User    : [{mycfg['mysql']['user']}]")
database = mycfg['mysql']['url'].split('@')[1]  # leave off the password
print(f"Database: [[mysql://{mycfg['mysql']['user']}...@{database}]")

db_url = mycfg['mysql']['url'] 
os.environ['DATABASE_URL'] = db_url

In [ ]:
%reload_ext sql
print ("get version...")
%sql SELECT version()

In [ ]:
%%sql # index for faster lookup times for employee name. While not needed for the small data set I used to test the db the index will update as the program scales
CREATE INDEX idx_emp
ON Employee (fullname);

In [ ]:
%%sql # set auto increment 
ALTER TABLE Employee AUTO_INCREMENT=31;

In [102]:
%%sql
SELECT * 
FROM Employee
LIMIT 3;

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [103]:
%%sql
SELECT * 
FROM Pay
LIMIT 3;

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [97]:
# query used for testing delete cascade on store_id
%sql DELETE FROM Store WHERE store_id='1';

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
1 rows affected.

[]

In [101]:
%%sql # query used for testing delete cascade on emp_id
DELETE FROM Employee WHERE emp_id = '1';

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [ ]:
%%sql
SELECT * 
FROM Position
LIMIT 3;

In [ ]:
%%sql
SELECT * 
FROM Store
LIMIT 3;

In [ ]:
# Tests trigger on deletion of emp_id
try:
    
except Exception as e:
    print(e)
    print("Error")

In [110]:
# Test constraints on insert into employee table
x = VARCHAR(255)
try:
    %sql insert INTO Employee VALUES (1,'Grant Hargrave','9523939649','2020-11-11','granthargrav@gmail.com',2,1,35.0)
except x as e:
    print(e)
    print("Error:Duplicate Primary Key")

NameError: name 'VARCHAR' is not defined