In [2]:
%reload_ext sql
%matplotlib inline
import configparser
import os

In [3]:
import os
import configparser

mycfg = configparser.ConfigParser()
mycfg.read("/home/jovyan/CSCI3287/home/mysql.cfg")
print(f"User    : [{mycfg['mysql']['user']}]")
database = mycfg['mysql']['url'].split('@')[1]  # leave off the password
print(f"Database: [[mysql://{mycfg['mysql']['user']}...@{database}]")

db_url = mycfg['mysql']['url'] 
os.environ['DATABASE_URL'] = db_url

User    : [grha8384]
Database: [[mysql://grha8384...@applied-sql.cs.colorado.edu:3306/grha8384]

In [4]:
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
1 rows affected.

[('8.0.27',)]

In [20]:
%%sql
DROP TABLE if EXISTS Salary;
DROP TABLE if EXISTS Employee;
DROP TABLE if EXISTS Product;
DROP TABLE IF EXISTS Artists;

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [16]:
# Employee table declaration Foreign key ID 
%%sql
CREATE TABLE Employee
     (
     ID int,
     name VARCHAR(30),
     position VARCHAR(20),
     start_Date Date,
     phone_Number VARCHAR(12),
     email_Address VARCHAR(50),
     address VARCHAR(50),
     birthday DATE,
     PRIMARY KEY (ID)
     );

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [17]:
%%sql
CREATE TABLE Salary
    (
        ID int, 
        hourly_Pay int, 
        attendance int,
        FOREIGN KEY (ID) REFERENCES Employee (ID)
    );

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [18]:
%%sql 
CREATE TABLE Artists
    (
        artist_Code int,
        PRIMARY KEY (artist_Code)
    );

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
(MySQLdb._exceptions.OperationalError) (1050, "Table 'Artists' already exists")
[SQL: CREATE TABLE Artists
    (
        artist_Code int,
        PRIMARY KEY (artist_Code)
    );]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [35]:
%%sql
CREATE TABLE Store
    (
        store_Code int,
        num_Empl int
    );

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
(MySQLdb._exceptions.OperationalError) (1050, "Table 'Store' already exists")
[SQL: CREATE TABLE Store
    (
        store_Code int,
        num_Empl int
    );]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [12]:
%%sql
DROP TABLE IF EXISTS Products;

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [13]:
%%sql
CREATE TABLE Products
    (
        product_SKU int,
        product_Name VARCHAR (100),
        wholesale_Price double,
        sales_Price double,
        in_Stock int
    );

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [14]:
%%sql
CREATE TABLE Customers
    (
        cID int,
        customer_name VARCHAR (40),
        pone_Number VARCHAR (12),
        address_All VARCHAR (50),
        city VARCHAR(20),
        stateCode VARCHAR(2),
        zip_Code int,
        country VARCHAR (50)
    );

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [17]:
%%sql 
CREATE TABLE Orders
    (
        order_Num int,
        order_Date DATE,
        shipping_Date DATE,
        comments VARCHAR(255)
    );

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [18]:
%%sql 
CREATE TABLE order_Details
    (
        order_Num int,
        product_SKU int,
        quantity int,
        sale_Price double
    );

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [19]:
%%sql
CREATE TABLE payment
    (
        billing_Address VARCHAR(50),
        customer_Num int,
        card_Num VARCHAR(20),
        FULLNAME VARCHAR(50),
        exp_Date VARCHAR(6),
        security_Code VARCHAR(3)
    );

 * mysql://grha8384:***@applied-sql.cs.colorado.edu:3306/grha8384
0 rows affected.

[]

In [ ]:
%%sql
DELETE TRIGER IF EXISTS